# COGS 108 - Data Checkpoint

# Names

- Hongjie Zhu (HZ)
- Qingyue Li (QL)
- Kevin Lin (KL)
- Yvonne Luo (YL)
- Jason Chen (JC)

<a id='research_question'></a>
# Research Question

<br>How did the outbreak of H1N1 affect the natality (aka. birth rate) and mortality (aka. death rate) rates per 1,000 people of the countries which experienced the pandemic?

<br>How to measure: compare the difference of natality and mortality rate between time periods before (e.g. average natality and mortality rate over 10 years before the pandemic) and during the pandemic to figure out if there is a difference, and whether that difference is correlated with the pandemic (consider if there are any major historical events or natural disasters that had an impact on economy, politics, etc. acting as confounding factors).

# Dataset(s)

- Dataset Name: H1N1 2009 case summary
- Link to the dataset: https://www.kaggle.com/imdevskp/h1n1-swine-flu-2009-pandemic-dataset?select=data.csv
- Number of observations: 2490
- 1-2 sentences describing each dataset: This dataset contains day by day cases & deaths in different countries between April 4th, 2009 and July 6th, 2009. In addition, there are 7 other datasets that summarize the confirmed cases, hospitalization, and confirm deaths in different regions of the world.


- Dataset Name: Global birth rate over the years
- Link to the dataset: https://ourworldindata.org/grapher/crude-birth-rate?tab=table&country=~OWID_WRL
- Number of observations: 17466
- 1-2 sentences describing each dataset: This dataset contains birth rate per 1000 population in different countries between 1950 and 2020. 


- Dataset Name: Global death rate over the years
- Link to the dataset: https://data.worldbank.org/indicator/SP.DYN.CDRT.IN
- Number of observations: 271
- 1-2 sentences describing each dataset: This dataset contains death rate per 1000 population in different countries between 1960 to 2019. 


- Dataset Name: Pandemic 2009 H1N1 Swine Flu Influenza A Dataset (We have not worked on this dataset yet because the website is under maintenance and we are unable to download the dataset yet)
- Link to the dataset: https://www.kaggle.com/de5d5fe61fcaa6ad7a66/pandemic-2009-h1n1-swine-flu-influenza-a-dataset
- Number of observations: (to be added later)
- 1-2 sentences describing each dataset: This dataset comes from the report of WHO. It descirbe the confirmed H1N1 death cases in the lab and overall confirmed death cases of different countries from April 12, 2009 to April 10, 2010.


We can integrate these dataset according to countries. Then putting death rate, birth rate. confirmed death cases of H1N1 in the same sheet. We are considering also including year in the dataset, but we are not sure what is the best approach yet.

# Setup

In [1]:
## YOUR CODE HERE

import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

# Data Cleaning

Describe your data cleaning steps here.

In [2]:
## Dataset 1: H1N1 2009 case summary

## Read the csv file at first.
death_case_2009 = pd.read_csv('H1N1_DeathCase.csv')

## We only want the data from 2009-07-06 because we only need cumulative data from the last day.
## Also, we have to reset the index.
## We still need to delete the date since all the selected data are from 2009-07-06.
## We also want to remove the link since they are not related to our project.
death_case_2009_cleaned = death_case_2009[death_case_2009['Date'].isin(['2009-07-06'])].reset_index().drop(columns = ['index', 'Date', 'Link'])

## We want to create a list of contries that are affected by H1N1.
h1n1_country_list = death_case_2009_cleaned['Country'].tolist()

## Display the cleaned dataset and the list of affected countries.
death_case_2009_cleaned, h1n1_country_list

(                      Country  Cumulative no. of cases  \
 0                     Algeria                        5
 1         Antigua and Barbuda                        2
 2                   Argentina                     2485
 3                   Australia                     5298
 4                     Austria                       19
 ..                        ...                      ...
 130                 Venezuela                      206
 131                  Viet Nam                      181
 132            Virgin Islands                        1
 133  West Bank and Gaza Strip                       60
 134                     Yemen                        8

      Cumulative no. of deaths
 0                           0
 1                           0
 2                          60
 3                          10
 4                           0
 ..                        ...
 130                         0
 131                         0
 132                         0
 133                         0
 134                         0

 [135 rows x 3 columns],
 ['Algeria',
  'Antigua and Barbuda',
  'Argentina',
  'Australia',
  'Austria',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belgium',
  'Bermuda, UKOT',
  'Bolivia',
  'Bosnia and Hezegovina',
  'Brazil',
  'British Virgin Islands,  UKOT',
  'Brunei Darussalam',
  'Bulgaria',
  'Cambodia',
  'Canada',
  'Cap Verde',
  'Cayman Islands, UKOT',
  'Chile',
  'China',
  'Colombia',
  'Cook Island',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Dominica',
  'Dominican Republic',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'French Polynesia, FOC',
  'Germany',
  'Greece',
  'Guadaloupe, FOC',
  'Guatemala',
  'Guernsey, Crown Dependency',
  'Guyana',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran, Islamic Republic',
  'Iraq',
  'Ireland',
  'Isle of Man, Crown Dependency',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jersey, Crown Dependency',
  'Jordan',
  'Kenya',
  'Kuwait',
  'Laos',
  'Latvia',
  'Lebanon',
  'Libya',
  'Lithuania',
  'Luxembourg',
  'Malaysia',
  'Malta',
  'Martinique, FOC',
  'Mauritius',
  'Mexico',
  'Montenegro',
  'Morocco',
  'Myanmar',
  'Nepal',
  'Netherlands',
  'Netherlands Antilles, Cura√ßao',
  'Netherlands Antilles, Sint Maarten',
  'Netherlands, Aruba',
  'New Caledonia, FOC',
  'New Zealand',
  'Nicaragua',
  'Norway',
  'Oman',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Puerto Rico',
  'Qatar',
  'Republic of Korea',
  'Romania',
  'Russia',
  'Saint Lucia',
  'Saint Martin, FOC',
  'Samoa',
  'Saudi Arabia',
  'Serbia',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Suriname',
  'Sweden',
  'Switzerland',
  'Syria',
  'Thailand',
  'The former Yugoslav Republic of Macedonia',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States of America',
  'Uruguay',
  'Vanuatu',
  'Venezuela',
  'Viet Nam',
  'Virgin Islands',
  'West Bank and Gaza Strip',
  'Yemen'])

In [3]:
## Dataset 2: Global birth rate over the years
## plan to separate out several datasets to use: birth rate of 2009, birth rate 10 years before(1999-2009), birth rate 10 years after(2009-2019)
## only include data for countries that were affected by h1n1

global_birth_rate = pd.read_csv("crude-birth-rate.csv")
num_observation2 = global_birth_rate.shape[0]

## birth rate of 2009
birth_rate_2009 = global_birth_rate[global_birth_rate['Year']==2009].drop(columns=["Code", "Year"])
birth_rate_2009.columns = ["country", "births per 1000"]
birth_rate_2009 = birth_rate_2009.set_index('country')
## birth_rate_2009.dropna there are no empty lines
birth_rate_2009 = birth_rate_2009[birth_rate_2009.index.isin(h1n1_country_list)] ##filter out countries that were not affected by h1n1
## ^still thinking about this because the country names maybe written in different ways causing more rows to be omitted

## birth rate 10 years before
birth_rate_9909 = global_birth_rate[(global_birth_rate['Year']>=1999) & (global_birth_rate['Year']<=2009)].drop(columns="Code")
birth_rate_9909.columns = ["country", "year", "births per 1000"] ## also want to put the years as column names instead but not sure how yet
birth_rate_9909 = birth_rate_9909[birth_rate_9909.index.isin(h1n1_country_list)] ##filter out countries that were not affected by h1n1
## ^still thinking about this because the country names maybe written in different ways causing more rows to be omitted


## birth rate 10 years after
birth_rate_0919 = global_birth_rate[(global_birth_rate['Year']>=2009) & (global_birth_rate['Year']<=2019)].drop(columns="Code")
birth_rate_0919.columns = ["country", "year", "births per 1000"] ## also want to put the years as column names instead but not sure how yet
birth_rate_0919 = birth_rate_0919[birth_rate_0919.index.isin(h1n1_country_list)] ##filter out countries that were not affected by h1n1
## ^still thinking about this because the country names maybe written in different ways causing more rows to be omitted


birth_rate_2009

                     births per 1000
country
Algeria                       23.932
Antigua and Barbuda           16.749
Argentina                     18.252
Australia                     13.732
Austria                        9.280
...                              ...
United Kingdom                12.607
Uruguay                       14.402
Vanuatu                       32.437
Venezuela                     21.078
Yemen                         34.834

[107 rows x 1 columns]

In [5]:
## Dataset 3: global death rate over the years
death_rate_worldWide = pd.read_csv('crude_death_rate.csv')
#Drop useless columns 
death_rate_worldWide = death_rate_worldWide.drop(['Country Code', 'Indicator Code', 'Indicator Name', '2020','Unnamed: 65'], 1)
#Replace empty value with 'nan'
death_rate_worldWide = death_rate_worldWide.replace(r'^\s*$', np.nan, regex=True)
#Add tile to the dataframe()
#death_rate_worldWide = death_rate_worldWide.style.set_caption("Death rate, crude (per 1,000 people)")
#Only include country that has been affected by H1N1
death_rate_worldWide = death_rate_worldWide[death_rate_worldWide['Country Name'].isin(h1n1_country_list)]
death_rate_worldWide

/Users/aurorali/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
8,United Arab Emirates,15.714,14.761,13.814,12.890,11.999,11.148,10.339,9.567,8.830,...,1.403,1.382,1.369,1.363,1.366,1.377,1.398,1.429,1.470,1.521
9,Argentina,8.567,8.618,8.679,8.747,8.813,8.871,8.917,8.950,8.969,...,7.708,7.694,7.680,7.665,7.651,7.638,7.626,7.616,7.609,7.604
12,Antigua and Barbuda,9.643,9.356,9.068,8.780,8.497,8.226,7.978,7.761,7.581,...,6.055,6.085,6.116,6.151,6.188,6.227,6.270,6.316,6.366,6.422
13,Australia,8.600,8.500,8.700,8.700,9.000,8.800,8.900,8.700,9.100,...,6.500,6.600,6.600,6.400,6.600,6.600,6.600,6.500,6.300,6.700
14,Austria,12.700,12.100,12.700,12.800,12.300,13.000,12.500,12.900,12.900,...,9.200,9.100,9.400,9.400,9.200,9.600,9.200,9.500,9.500,9.400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,Ukraine,8.675,8.420,8.231,8.115,8.072,8.097,8.182,8.310,8.467,...,15.200,14.500,14.500,14.600,14.700,14.900,14.700,14.500,14.800,14.700
250,Uruguay,9.735,9.645,9.573,9.525,9.501,9.505,9.538,9.593,9.664,...,9.324,9.349,9.376,9.401,9.423,9.440,9.452,9.461,9.467,9.473
258,Vanuatu,16.007,15.567,15.119,14.664,14.208,13.760,13.333,12.938,12.578,...,5.526,5.529,5.527,5.514,5.489,5.450,5.396,5.334,5.266,5.197
260,Samoa,10.822,10.580,10.344,10.113,9.888,9.668,9.457,9.255,9.065,...,5.848,5.795,5.727,5.645,5.554,5.461,5.372,5.296,5.239,5.202
263,South Africa,17.398,17.104,16.816,16.527,16.233,15.930,15.614,15.287,14.952,...,12.085,11.483,10.918,10.430,10.044,9.769,9.599,9.498,9.435,9.398